[Unit]
Description=X22 Distributor Service
After=network.target

[Service]
Type=simple
ExecStart=x22_distributor --credentials /etc/axiamo_transfer/credentials.json --config /etc/axiamo_transfer/distributor.json
Restart=on-failure
User=axiamo
WorkingDirectory=/var/axiamo_transfer/logs
Environment="PATH=/usr/bin"
StandardOutput=append:/var/log/x22_distributor.log
StandardError=append:/var/log/x22_distributor.log

[Install]
WantedBy=multi-user.target
